{% extends 'base.html' %}

{% block title %}Trainee Detail - {{ trainee.user.name }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 text-primary">Trainee Detail</h1>
    <div class="card mt-3 bg-light">
        <div class="card-body">
            <h5 class="card-title">{{ trainee.user.name }}</h5>
            <p class="card-text text-muted">Email: {{ trainee.user.email }}</p>
            <p class="card-text text-info">Fitness Goal: {{ trainee.fitness_goal }}</p>
            <p class="card-text text-info">Height: {{ trainee.height }} cm</p>
            <p class="card-text text-info">Weight: {{ trainee.weight }} kg</p>
            <p class="card-text text-danger">BMI: {{ trainee.bmi }}</p>
            <p class="card-text text-success">Workout Schedule:</p>
            <ul class="list-group">
                {% for tutorial_id, tutorial_name in trainee.workout_schedule.items %}
                <li class="list-group-item">
                    <a href="{% url 'tutorial-detail' tutorial_id %}" class="text-primary">{{ tutorial_name }}</a>
                </li>
                {% endfor %}
            </ul>
            <p class="card-text text-warning mt-3">Trainer: {% if trainee.trainer %}{{ trainee.trainer.user.name }}{% else %}Not assigned{% endif %}</p>
        </div>
    </div>


<style>
    .card {
        width: 60%;
        margin: auto;
        padding: 20px;
    }

    .list-group {
        width: 60%;
        margin: auto;
        padding: 20px;
    }

    .btn {
        margin-top: 10px;
    }

    
</style>

{% endblock %}
